/detection.pt
/major
/API_KEYS.py
/__pycache__
/Modules/Functions/AIAssistant/__pycache__
/Modules/Functions/DateAndTime/__pycache__
/Modules/Functions/Detection/FaceDetection/__pycache__
/Modules/Functions/Detection/HumanDetection/__pycache__
/Modules/Functions/Detection/ObjectDetection/__pycache__
/Modules/Functions/Detection/OCR/__pycache__
/Modules/Functions/Help/__pycache__
/Modules/Functions/Weather/__pycache__
/Modules/Functions/YoutubePlayer/__pycache__
/Modules/Setup/Camera/__pycache__
/Modules/Setup/Config/__pycache__
/Modules/Setup/GarbageCollector/__pycache__
/Modules/Setup/Jarvis/__pycache__
/Modules/Setup/VoiceBox/__pycache__
/venv