https://pytorch.org/
pyttsx3
vosk
pyaudio
ultralytics
opencv-python
pytesseract
google-api-python-client
pydub
https://github.com/yt-dlp/yt-dlp/archive/master.tar.gz
langchain
sentence_transformers
lanchain_chroma
google.generativeai
imgbeddings